@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto');


* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 1920px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

/*******    HEADER   ***********/
.main-header {
    width: 100%;
    height: 1024px;
    background: url(../img/bg_photo.png) no-repeat;
    background: url(../img/photo.png) no-repeat;
    padding-top: 40px;
}

.header__wpar {
    width: 1230px;
    margin: 0 auto;
}

.logo-text {
    color: #ffffff;
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    margin-bottom: 15px;
    margin-left: 70px;
}

.box-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 285px;
}

.menu__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menu__list a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    line-height: 30px;
}

.menu__list li a:hover {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
}

.menu {
    width: 770px;
}

.logo {
    display: block;
    width: 181px;
    height: 56px;
    text-decoration: none;
    position: relative;
}

.logo-img {
    position: absolute;
    top: -10px;
    left: 10px;
}

.box-slogan {
    text-align: center;
}

.header__slogan {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 52px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.header__slogan-min {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 15px;
}

.header__discrintion {
    width: 562px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 52px;
    margin-top: 19px;
}

.header__btn {
    display: block;
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
}

.header__btn:hover {
    box-shadow: 3px 5px 4px #736357;
}

.cart {
    background-image: url(../img/icon-cart.png);
    width: 18px;
    height: 24px;
}

.cart:hover {
    color: #c7b299;
}

.search {
    background-image: url(../img/icon-search.png);
    width: 24px;
    height: 24px;
}

.menu__list li:nth-last-child(2) {
    margin-left: 49px;
}

/***********  SERVICES   ******************/

.services {
    width: 1166px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 116px;

}

.services__items-header {
    color: #555555;
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
}

.services__items-txt {

    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 19px;
    margin-bottom: 30px;
}

.items-header__link {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.items-header__link:after {
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    content: "";
    display: block;
    margin: 0 auto;
    align-self: flex-end;
}

.items-header__link:hover:after {
    background-color: #c7b299;
}

.services__items-header:hover,
.services__items-txt:hover {
    color: #deb887;
}


/*******  realization  ********/

.realization {
    width: 100%;
    height: 700px;
    background-color: #fbfaf8;
    padding-top: 83px;
}

.realization__title {
    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.realization__txt {
    width: 757px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin: auto;
}

.realization__wraper {
    width: 1230px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}

.realizatio__photo-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.realizatio__photo-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 10;
}

.realizatio__photo-center {
    position: absolute;
    bottom: 0px;
    left: 230px;
    z-index: 20;
}

/**************      text-box   ********************/
.text-box {
    width: 1920px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.text-box__wraper {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.text-box__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 400;
}

.text-box__title span {
    color: #c7b299;
}

.text-box__text {
    color: #615855;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
}

.text-box__btn-link {
    display: block;
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}


/************** project  **************/

.project {
    width: 1170px;
    margin: 0 auto;
    padding: 81px 0 80px 0;
}

.project__title {
    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.project__txt {
    width: 757px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin: auto;
}

.project__list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.project__list li {
    width: 120px;
    list-style-type: none;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    margin: 5px;
    text-align: center;

}

.project__list li:first-child {
    width: 70px;
}

.project__list li:last-child {
    width: 135px;
}

.project__list li a:hover {
    background-color: #998675;
    color: #fff;
}

.project__list a {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-decoration: none;
    display: block;
}

.project__wraper {
    width: 1170px;
    margin: 40px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.items1 {
    width: 370px;
    background-image: url(../img/photo-item1.jpg);
    background-repeat: no-repeat;
}

.items2 {
    width: 370px;
    background-image: url(../img/photo-item2.jpg);
    background-repeat: no-repeat;
}

.items3 {
    width: 370px;
    background-image: url(../img/photo-item3.jpg);
    background-repeat: no-repeat;
}

.items4 {
    width: 370px;
    background-image: url(../img/photo-item4.jpg);
    background-repeat: no-repeat;
}

.items5 {
    width: 370px;
    background-image: url(../img/photo-item5.jpg);
    background-repeat: no-repeat;
}

.items6 {
    width: 370px;
    background-image: url(../img/photo-item6.jpg);
    background-repeat: no-repeat;
}

.project__items {
    margin: 10px;
    width: 370px;
    height: 337px;
    background-color: #fbfaf8;
    position: relative;
}

.project__items:after {
    content: "";
    border: 20px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: 210px;
    left: 25px;
}

.project__btn {
    display: block;
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto;
    text-align: center;
}

.item-title {
    color: #c7b299;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-left: 28px;
}

.item-txt {
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.project__figcaption {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 337px;
}


/**************  VIDEO    ****************/

/*******  devices  *********/
.devices {
    height: 695px;
    background-image: url(../img/iPhone_in_hand.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 1109px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.devices__discription {
    margin-top: 195px;
}


.devices__discription-title {

    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.devices__discription-txt {

    width: 658px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 45px;
}

.devices__discription-list {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    list-style-type: none;
    margin-left: 50px;
    width: 596px;
}

details summary {
    outline: none;
}

.launch {
    width: 1920px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    padding-top: 69px;
    padding-bottom: 60px;
}

.launch__wraper {
    width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.launch__item-title {
    color: #ffffff;
    font-family: "Montserrat - Ultra Light";
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-top: 30px;
}

.launch__item-txt {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 21px;
}

.launch__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.launch__item:after {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    display: block;
    margin: 0 auto;
    align-self: flex-end;
}

/**************    POST         ******************/
.post__title {
    color: #555555;
    font-family: "Raleway - Semi Bold";
    font-size: 30px;
    font-weight: 400;
    display: block;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 30px;
}

.post__txt {
    width: 757px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin: auto;
}

.post__box {
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid #f8f8f8;
    margin-top: 40px;
    position: relative;
}

.post__box-title {
    color: #555555;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    margin: 30px 82px 19px 29px;
}

.post__box-txt {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-left: 29px;
    margin-bottom: 27px;

}

.post__box-link {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 33px;
}

.post__item {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
}

.date {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url(../img/bg-date1.jpg),
        url(../img/bg-date2.jpg);
    background-size: 100%, 100%;
    background-position: top center, bottom center;
    background-repeat: no-repeat, no-repeat;
    border-radius: 5px;
}

.date-num {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    margin: 9px 10px 8px 10px;
    display: block;
}

.date-month {
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    margin-left: 14px;
}

.post__photo:hover {
    filter: brightness(40%);
}

/******************  partners   **************************/
.partners {
    background-image: url(../img/partner-bg.jpg);
    width: 1920px;
    height: 489px;
    /*    filter: brightness(40%);*/
    display: flex;
    align-items: center;

}

.partners__wraper {
    width: 1110px;
    height: 210px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__box {
    width: 1920px;
    height: 508px;
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.copipast {
    width: 1920px;
    height: 111px;
    background-color: #111111;
}

.footer__box-item {
    height: 347px;
    width: 350px;
    background-color: azure;
}

.post {
    padding-bottom: 142px;
}
